{% extends "base.html" %}
{% block title %}Головна{% endblock %}
{% block content %}
    <h2 class="mb-4">Поточна погода</h2>
    <div id="weather" class="card p-4 shadow-sm">Завантаження...</div>

    <script>
        fetch("/api/data")
    .then(res => res.json())
    .then(data => {
        if (!data.length) {
            document.getElementById("weather").innerHTML = "<p>Немає даних</p>";
            return;
        }
        
        const env = data[0].environment;
        const rain = data[0].rainfall;
        const air_quality = data[0].air_quality;

        const html = `
            <h4>Дані станом на ${new Date(data[0].timestamp).toLocaleString()}</h4>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Температура: ${env.temperature} °C</li>
                <li class="list-group-item">Тиск: ${env.pressure} гПа</li>
                <li class="list-group-item">Вологість: ${env.humidity} %</li>
                <li class="list-group-item">Опади: ${ (rain.tips * 0.631356).toFixed(4) } мм/м2</li>
                <li class="list-group-item">CO2: ${air_quality.eco2}</li>
                <li class="list-group-item">VOC: ${air_quality.tvoc}</li>

            </ul>`;
        document.getElementById("weather").innerHTML = html;
    });

    </script>
{% endblock %}
